@import url(//fonts.googleapis.com/css?family=Open+Sans);
.blur-sprite { background: url('css-img/landing/landing_01/blur-scf64499bd7.png') no-repeat; }

.landing_02_icons-sprite, .feature-list.premium .f1 .thumb, .feature-list.premium .f2 .thumb, .feature-list.premium .f3 .thumb, .feature-list.standard .f1 .thumb, .feature-list.standard .f2 .thumb, .feature-list.standard .f3 .thumb, .column-full .feature-list2.premium .f1 .thumb, .column-full .feature-list2.premium .f2 .thumb, .column-full .feature-list2.premium .f3 .thumb, .feature-list2.premium .f1 .thumb, .feature-list2.premium .f2 .thumb, .feature-list2.premium .f3 .thumb { background: url('css-img/landing/landing_02/landing_02_icons-s20a42d23c2.png') no-repeat; }

.landing_icons-sprite, .logo, .as-seen-in-image, .btn-fb-login .icon, .btn-g-login .icon, .form-top-label-large .cvc-tip .cvcimg { background: url('css-img/landing/landing_icons-sda0ea3ce79.png') no-repeat; }

.blur-sprite { background: url('css-img/landing/landing_01/blur-scf64499bd7.png') no-repeat; }

.landing_02_icons-sprite, .feature-list.premium .f1 .thumb, .feature-list.premium .f2 .thumb, .feature-list.premium .f3 .thumb, .feature-list.standard .f1 .thumb, .feature-list.standard .f2 .thumb, .feature-list.standard .f3 .thumb, .column-full .feature-list2.premium .f1 .thumb, .column-full .feature-list2.premium .f2 .thumb, .column-full .feature-list2.premium .f3 .thumb, .feature-list2.premium .f1 .thumb, .feature-list2.premium .f2 .thumb, .feature-list2.premium .f3 .thumb { background: url('css-img/landing/landing_02/landing_02_icons-sb1bb1c65b5.png') no-repeat; }

.landing_icons-sprite, .logo, .as-seen-in-image, .btn-fb-login .icon, .btn-g-login .icon, .form-top-label-large .cvc-tip .cvcimg { background: url('css-img/landing/landing_icons-sdb4cc628e3.png') no-repeat; }

/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; font-family: Arial, Helvetica, sans-serif; font-size: 13px; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/***** clearfix *****/
.clear { clear: both; height: 0; line-height: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }

.clearfix { display: block; }

/* End hide from IE-mac */
.clearfix { height: 1%; }

.clearfix { display: block; }

/* Micro clearfix */
.cf:before, .cf:after { content: ""; display: block; }

.cf:after { clear: both; }

.cf { zoom: 1; }

.clear, div.clear { clear: both; height: 0px; }

.required:after { content: " *"; color: red; }

.left { float: left; }

.right { float: right; }

p { line-height: 18px; margin-bottom: 10px; }

.center { text-align: center; margin: 0 auto; }

button, input[type="submit"] { cursor: pointer !important; }

.button1, .ui-dialog .ui-dialog-buttonpane button { width: 100%; /*ie*/ width: auto; /*ie*/ display: block; margin: 0 0 20px 0; padding: 15px 30px; border: 1px solid #ccc; font-weight: bold; color: #fff; text-shadow: 1px 1px 0 #000; font-size: 14px; text-align: center; border-radius: 5px; -webkit-box-shadow: 2px 2px 2px #c4e1e5; -moz-box-shadow: 2px 2px 2px #c4e1e5; box-shadow: 2px 2px 2px #c4e1e5; background-color: #ed5598; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFED5598', endColorstr='#FFB9026D'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed5598), color-stop(100%, #b9026d)); background-image: -webkit-linear-gradient(top, #ed5598 0%, #b9026d 100%); background-image: -moz-linear-gradient(top, #ed5598 0%, #b9026d 100%); background-image: -o-linear-gradient(top, #ed5598 0%, #b9026d 100%); background-image: linear-gradient(top, #ed5598 0%, #b9026d 100%); -moz-transition-property: color, background; -moz-transition-duration: .15s, .15s; -moz-transition-timing-function: linear; -webkit-transition-property: color, background; -webkit-transition-duration: .15s, .15s; -webkit-transition-timing-function: linear; }

.button1:hover, #view-report .column-2-side p.button25 a:hover, .ui-dialog .ui-dialog-buttonpane button:hover { color: #fff !important; text-shadow: 1px 1px 1px #61043a; background-color: #ff5ba2; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF5BA2', endColorstr='#FFD6047E'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5ba2), color-stop(100%, #d6047e)); background-image: -webkit-linear-gradient(top, #ff5ba2 0%, #d6047e 100%); background-image: -moz-linear-gradient(top, #ff5ba2 0%, #d6047e 100%); background-image: -o-linear-gradient(top, #ff5ba2 0%, #d6047e 100%); background-image: linear-gradient(top, #ff5ba2 0%, #d6047e 100%); }

input[type="submit"][disabled="disabled"], button[disabled="disabled"], .disabled { *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF'); background: #fff; border-color: #ccc; -webkit-box-shadow: 2px 2px 2px #f4f4f4; -moz-box-shadow: 2px 2px 2px #f4f4f4; box-shadow: 2px 2px 2px #f4f4f4; color: #ccc; text-shadow: none; cursor: default !important; }
input[type="submit"][disabled="disabled"]:hover, button[disabled="disabled"]:hover, .disabled:hover { *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF'); background: #fff; color: #ccc !important; text-shadow: none; cursor: default !important; }

.logo { background-position: 0 0; height: 18px; width: 127px; margin: 10px 0 0 0; float: left; }

.tagline { float: right; line-height: 40px; font-family: 'Open Sans', sans-serif; font-weight: bold; color: #666; font-size: 18px; }

.h2 { font-size: 24px; }

.hr { margin: -35px 0 40px 0; border: 1px solid #ddd; -webkit-box-shadow: 1px 1px 0 white; -moz-box-shadow: 1px 1px 0 white; box-shadow: 1px 1px 0 white; }

a { color: #00A8A8; }

.as-seen-in-image { background-position: 0 -100px; height: 30px; width: 850px; margin: 0 auto; }

.btn-flat a { display: inline-block; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

.btn-fb-login { float: left; margin: 0 10px 0 0; }
.btn-fb-login .icon { background-position: -147px 0; height: 20px; width: 10px; display: block; }
.btn-fb-login a { background: #34568e; color: #fff; padding: 6px 18px; border: 1px solid #264069; -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5); box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5); line-height: 18px; }

.btn-g-login .icon { background-position: -127px 0; height: 20px; width: 20px; display: block; }
.btn-g-login a { background: #eaeaea; color: #333; padding: 7px 18px; text-shadow: 1px 1px 0 #fff; border: 1px solid #b0b0b0; -webkit-box-shadow: inset 1px 1px 0 white; -moz-box-shadow: inset 1px 1px 0 white; box-shadow: inset 1px 1px 0 white; line-height: 18px; }

.shell { overflow: hidden; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF90CBE7', endColorstr='#FFFFFFFF'); background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, rgba(144, 203, 231, 0.5)), color-stop(35%, rgba(144, 203, 231, 0.33)), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-radial-gradient(center, ellipse cover, rgba(144, 203, 231, 0.5) 0%, rgba(144, 203, 231, 0.33) 35%, rgba(255, 255, 255, 0) 100%); background-image: -moz-radial-gradient(center, ellipse cover, rgba(144, 203, 231, 0.5) 0%, rgba(144, 203, 231, 0.33) 35%, rgba(255, 255, 255, 0) 100%); background-image: -o-radial-gradient(center, ellipse cover, rgba(144, 203, 231, 0.5) 0%, rgba(144, 203, 231, 0.33) 35%, rgba(255, 255, 255, 0) 100%); background-image: radial-gradient(center, ellipse cover, rgba(144, 203, 231, 0.5) 0%, rgba(144, 203, 231, 0.33) 35%, rgba(255, 255, 255, 0) 100%); }

.shell__container { padding: 20px 0 0 15px; border-bottom: 3px solid #fff; }

.shell__container--1 { background: rgba(247, 247, 247, 0.6); -webkit-box-shadow: inset 0 -8px 6px -6px rgba(0, 0, 0, 0.1), inset 0 8px 6px -6px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 -8px 6px -6px rgba(0, 0, 0, 0.1), inset 0 8px 6px -6px rgba(0, 0, 0, 0.4); box-shadow: inset 0 -8px 6px -6px rgba(0, 0, 0, 0.1), inset 0 8px 6px -6px rgba(0, 0, 0, 0.4); padding: 0 0 70px 0; }

.shell__container--2 { background-color: #f2f2f2; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF2F2F2', endColorstr='#FFFFFFFF'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(5%, #f8f8f8), color-stop(70%, #f2f2f2), color-stop(100%, #ffffff)); background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #f8f8f8 5%, #f2f2f2 70%, #ffffff 100%); background-image: -moz-linear-gradient(top, #f2f2f2 0%, #f8f8f8 5%, #f2f2f2 70%, #ffffff 100%); background-image: -o-linear-gradient(top, #f2f2f2 0%, #f8f8f8 5%, #f2f2f2 70%, #ffffff 100%); background-image: linear-gradient(top, #f2f2f2 0%, #f8f8f8 5%, #f2f2f2 70%, #ffffff 100%); }

.shell__container--footer { background: #fff; }
.shell__container--footer .logo { margin: 0 10px 0 0; }
.shell__container--footer .side-display li { margin: 0 0 0 140px; }
.shell__container--footer .side-display__image { margin: 0 !important; }

.shell__section { width: 980px; margin: 0 auto; }

.shell__heading { z-index: 2; position: relative; padding: 40px 0  20px 0 !important; text-align: center; font-size: 30px; font-family: 'Open Sans', sans-serif; font-weight: 500; color: #950057; text-shadow: 2px 2px 0 white, 3px 3px 3px rgba(0, 0, 0, 0.2); margin: 0 0 10px 0; }
.shell__heading.shell__heading--solid { background: #f3f3f3; background: #fafafa \9; width: 360px; margin: 0 auto; }
.shell__heading.shell__heading--solid.first { background: #f7f7f7; background: #f2f2f2 \9; width: 190px; }
.shell__heading.shell__heading--solid.second { background: #f6f6f6; background: #f2f2f2 \9; width: 220px; }

.shell > .header { background: #fdfdfd url("css-img/bg-dot.png"); height: 40px; width: 100%; }

.header__container { width: 980px; margin: 0 auto; }

.menu-container { height: 40px; background-color: #2c83a5; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2C83A5', endColorstr='#FF2E88AC'); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2c83a5), color-stop(2%, #3bb3e3), color-stop(94%, #3295bd), color-stop(96%, #2e88ac)); background-image: -webkit-linear-gradient(top, #2c83a5 0%, #3bb3e3 2%, #3295bd 94%, #2e88ac 96%); background-image: -moz-linear-gradient(top, #2c83a5 0%, #3bb3e3 2%, #3295bd 94%, #2e88ac 96%); background-image: -o-linear-gradient(top, #2c83a5 0%, #3bb3e3 2%, #3295bd 94%, #2e88ac 96%); background-image: linear-gradient(top, #2c83a5 0%, #3bb3e3 2%, #3295bd 94%, #2e88ac 96%); }

.menu { height: 40px; width: 980px; margin: 0 auto; }

.footer-content { margin: 0 auto; }

.footer-content li { display: inline-block; float: left; }

.footer-content__string { margin: 0 20px 0 0; line-height: 45px; }

.full-deck { text-align: center; }

.deck > li { float: left; display: inline-block; width: 33%; }

.deck--offset-1 { margin: 0 0 0 33%; width: 67% !important; }

.deck--span-1, .deck--span-2 { width: 67% !important; }

.deck--span-3 { width: auto !important; }

.deck--split { width: 49% !important; }

.deck-content { padding: 0 20px 10px 20px; }
.deck-content .side-display.micro { padding: 10px; }
.deck-content .title { font-weight: bold; }
.deck-content p { font-size: 10px; margin: 10px 0 0 0; padding: 10px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF'); background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); background-image: -moz-linear-gradient(left top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); background-image: -o-linear-gradient(left top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); background-image: linear-gradient(left top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%); }

.split { width: 49%; float: left; }

.side-display { position: relative; }
.side-display h2 { line-height: 22px; }
.side-display li { word-wrap: break-word; color: #575757; }

.side-display__image { float: left; }

.side-display--micro > li { margin: 0 0 0 25px; }

.side-display--micro .side-display__image { width: 20px; margin: 0 5px 0 0 !important; }
.side-display--micro .side-display__image img { width: 20px; }

.resolved-tag { color: #fff; font-weight: bold; font-size: 18px; line-height: 38px; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }

.feature-list { position: relative; z-index: 20; background: #fff; -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -ms-border-radius: 6px 6px 0 0; -o-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; border: 1px solid #c5c5c5; }
.feature-list.feature-list--side { -webkit-border-radius: 6px 0 0 6px; -moz-border-radius: 6px 0 0 6px; -ms-border-radius: 6px 0 0 6px; -o-border-radius: 6px 0 0 6px; border-radius: 6px 0 0 6px; }

.form-top-label-large-module { position: relative; }
.form-top-label-large-module .panel-shadow { position: absolute; z-index: 0 !important; display: block; background: url("css-img/landing/landing_02/landing/landing_02/form_bg.png") no-repeat; width: 670px; height: 131px; }

.form-top-label-large-module { z-index: 1 !important; }

.form-top-label-large { position: relative; z-index: 20; background: #fff; -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -ms-border-radius: 6px 6px 0 0; -o-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; border: 1px solid #c5c5c5; }
.form-top-label-large header p:last-child { margin: 0 0 20px 0; }
.form-top-label-large .verisign { margin-left: 40px; display: inline-block; }

.column-1-main { width: 650px; float: left; }

.column-1-main--dual { width: 500px; }

.column-1-main--center { float: none; margin: 0 auto; }

.column-1-side { margin: 0; width: 330px; float: left; }

.feature-list-heading { font-size: 16px; font-weight: bold; display: block; margin: 10px 0 10px 10px; }

.feature-list { padding: 10px; }
.feature-list li { display: inline-block; }
.feature-list li:last-child { border: 0; }
.feature-list .thumb { float: left; }
.feature-list .description { display: block; margin: 10px 0 0 80px; line-height: 18px; }

.feature-list.premium .f1 .thumb { background-position: 0 0; height: 71px; width: 74px; }
.feature-list.premium .f2 .thumb { background-position: 0 -71px; height: 74px; width: 75px; }
.feature-list.premium .f3 .thumb { background-position: 0 -145px; height: 74px; width: 74px; }

.feature-list.standard .f1 .thumb { background-position: 0 -387px; height: 85px; width: 86px; }
.feature-list.standard .f2 .thumb { background-position: 0 -302px; height: 85px; width: 86px; }
.feature-list.standard .f3 .thumb { background-position: 0 -219px; height: 83px; width: 86px; }

.feature-list-module { position: relative; }
.feature-list-module .panel-shadow { position: absolute; z-index: 0 !important; display: block; bottom: -89px; left: -75px; background: url("css-img/landing/landing_02/form_bg_side.png") no-repeat; width: 482px; height: 129px; }

.feature-list-module-side { position: relative; }
.feature-list-module-side .panel-shadow { position: absolute; z-index: 0 !important; display: block; background: url("css-img/landing/landing_02/form_bg_side2.png") no-repeat; right: 0; top: -75px; width: 28px; height: 469px; }

.form-top-label-large-module .panel-shadow { bottom: -91px; left: -219px; background: url("css-img/landing/landing_02/form_bg_main.png") no-repeat; width: 1030px; height: 131px; }

.form-top-label-large { position: relative; z-index: 20; background: #fff; -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -ms-border-radius: 6px 6px 0 0; -o-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; border: 1px solid #c5c5c5; padding: 20px; padding-right: 0; margin: 0 10px 0 0; }
.form-top-label-large .form-heading { font-size: 16px; font-weight: bold; margin: 0 0 20px 0; display: block; }
.form-top-label-large label { display: inline-block; margin: 0 0 3px 0; }
.form-top-label-large input[type="text"], .form-top-label-large input[type="password"], .form-top-label-large textarea { box-sizing: border-box; padding: 8px; border: 1px solid #d0d0d0; -webkit-box-shadow: #e2f6ff 0 0 8px 0 inset; -moz-box-shadow: #e2f6ff 0 0 8px 0 inset; box-shadow: #e2f6ff 0 0 8px 0 inset; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; width: 173px; }
.form-top-label-large input[type="text"].lock, .form-top-label-large input[type="password"].lock, .form-top-label-large textarea.lock { background: url("css-img/icons/input_lock_gray.png") 98% 10px no-repeat; padding-right: 40px; }
.form-top-label-large input[type="text"]:hover, .form-top-label-large input[type="text"]:focus, .form-top-label-large input[type="password"]:hover, .form-top-label-large input[type="password"]:focus, .form-top-label-large textarea:hover, .form-top-label-large textarea:focus { -webkit-box-shadow: #b5d0e5 0 0 8px 0 inset; -moz-box-shadow: #b5d0e5 0 0 8px 0 inset; box-shadow: #b5d0e5 0 0 8px 0 inset; -moz-transition-property: color, box-shadow; -moz-transition-duration: .15s, .15s; -moz-transition-timing-function: linear; -webkit-transition-property: color, box-shadow; -webkit-transition-duration: .15s, .15s; -webkit-transition-timing-function: linear; }
.form-top-label-large input[type="text"], .form-top-label-large input[type="password"] { width: 173px; }
.form-top-label-large textarea { width: 580px; max-width: 580px; min-width: 580px; }
.form-top-label-large .field-extend-2 { width: 375px !important; }
.form-top-label-large .field-extend-3 { width: 580px !important; margin: 0 20px 0 0; }
@media screen and (-webkit-min-device-pixel-ratio: 0) { .form-top-label-large input[type="text"], .form-top-label-large input[type="password"] { width: 190px; }
  .form-top-label-large .field-extend-2 { width: 395px !important; }
  .form-top-label-large .field-extend-3 { width: 595px !important; }
  .form-top-label-large textarea { width: 595px; min-width: 595px; max-width: px; } }
.form-top-label-large .cvc { width: 100px !important; margin: 0 30px 0 0; }
.form-top-label-large .cvc .field { width: 80px; }
.form-top-label-large .cvc-tip { text-decoration: none; position: relative; display: inline-block; vertical-align: middle; margin: -14px 0 0 0; }
.form-top-label-large .cvc-tip .cvcimg { background-position: -157px 0; height: 100px; width: 120px; }
.form-top-label-large .cvc-tip .info { display: none; color: #000; background: #fff; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; }
.form-top-label-large .cvc-tip .info .cvc { float: left; margin: 0px 8px 8px 0; }
.form-top-label-large .cvc-tip:hover .info { display: block; position: absolute; top: 0; left: 0; z-index: 1000; width: auto; border: 1px solid #ddd; margin-top: -110px; margin-left: 22px; overflow: hidden; padding: 8px; -webkit-box-shadow: 0 0 5px 0px #a8a8a8; -moz-box-shadow: 0 0 5px 0px #a8a8a8; box-shadow: 0 0 5px 0px #a8a8a8; }
.form-top-label-large .cc-graphic { background: url("css-img/icon-credit-cards.png") no-repeat; width: 231px; height: 32px; margin: 0 auto; margin-top: 10px; margin-bottom: 10px; display: block; }
.form-top-label-large .cc-graphic-small { background: url("css-img/icon-credit-cards-small.png") no-repeat; width: 130px; height: 18px; margin-top: 10px; margin-bottom: 10px; display: block; }
.form-top-label-large select { width: 190px; padding: 7px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; border: 1px solid #d0d0d0; -webkit-box-shadow: #e2f6ff 0 0 8px 0 inset; -moz-box-shadow: #e2f6ff 0 0 8px 0 inset; box-shadow: #e2f6ff 0 0 8px 0 inset; }
.form-top-label-large select.select-month { width: 75px; }
.form-top-label-large select.select-year { width: 100px; }
.form-top-label-large select:hover, .form-top-label-large select:focus { -webkit-box-shadow: #b5d0e5 0 0 8px 0 inset; -moz-box-shadow: #b5d0e5 0 0 8px 0 inset; box-shadow: #b5d0e5 0 0 8px 0 inset; -moz-transition-property: color, box-shadow; -moz-transition-duration: .15s, .15s; -moz-transition-timing-function: linear; -webkit-transition-property: color, box-shadow; -webkit-transition-duration: .15s, .15s; -webkit-transition-timing-function: linear; }
.form-top-label-large .field { min-height: 40px; }
.form-top-label-large .field.field--super-size { min-height: 60px; }
.form-top-label-large .field.field--super-size .field-extend-3 { font-size: 22px; }
.form-top-label-large .field.field--type-select { margin: 0 15px 0 0; font-size: 18px; }
.form-top-label-large .deck-3--terms-agree { width: auto; width: 270px; }
.form-top-label-large .field--terms-agree { padding: 11px 0 20px 0; }
.form-top-label-large .agree-text { float: right; width: 240px; margin: 0 0 0 5px; }
.form-top-label-large .button1 { width: 295px; }

.social-login { position: relative; z-index: 2; margin: 0 0 0 0; }

.column-full .feature-list2 { margin: 0 0 120px 0; }
.column-full .feature-list2 > li { display: inline-block; width: 31%; float: left; margin: 0 0 0 18px; }
.column-full .feature-list2 > li:last-child { border: 0; }
.column-full .feature-list2 .thumb { float: left; }
.column-full .feature-list2 .description { display: block; margin: 10px 0 0 80px; line-height: 18px; }
.column-full .feature-list2.premium .f1 .thumb { background-position: 0 0; height: 71px; width: 74px; }
.column-full .feature-list2.premium .f2 .thumb { background-position: 0 -71px; height: 74px; width: 75px; }
.column-full .feature-list2.premium .f3 .thumb { background-position: 0 -145px; height: 74px; width: 74px; }
.column-full h2 { position: relative; z-index: 2; margin: 20px 0 10px 0; }

/* Module */
.m-preview__content--alert { margin: 0 20px 0 0; }
.m-preview__content--alert .button1 { margin: 0 auto; margin-bottom: 10px; }

.m-preview__info { margin: 0 0 0 0; }
.m-preview__info .avatar, .m-preview__info .col { float: left; }
.m-preview__info .avatar { margin: 0 0 0 10px; }
.m-preview__info .col { margin: 0 0 0 20px; width: 250px; overflow: hidden; }
.m-preview__info .col > li { margin: 0 0 10px 0; }

.m-preview__description { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; height: 120px; background: #f7f7f7; padding: 20px; -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(0, 0, 0, 0.1); box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(0, 0, 0, 0.1); margin: 10px 0 20px 0; overflow-y: scroll; }

.select-type-radio { clear: both; margin: 5px 0 10px; display: block; color: #747474; }
.select-type-radio .title { margin: 0px 0 5px 0; padding: 0px; color: #343434; }
.select-type-radio .necessary { color: #c00d6a; }
.select-type-radio input { margin: 0 5px 0 10px; }

.p-description { padding: 10px; }

.dual-display--how { margin: 0 0 80px 0; }
.dual-display--how .thumb { float: right; }
.dual-display--how p { width: 240px; padding: 20px 0 0 0; }

.feature-list2 { margin: 0 0 20px 0; }
.feature-list2 > li { display: inline-block; width: 31%; float: left; margin: 0 0 0 18px; }
.feature-list2 > li:last-child { border: 0; }
.feature-list2 .thumb { float: left; }
.feature-list2 .description { display: block; margin: 10px 0 0 80px; line-height: 18px; }

.feature-list2.premium .f1 .thumb { background-position: 0 0; height: 71px; width: 74px; }
.feature-list2.premium .f2 .thumb { background-position: 0 -71px; height: 74px; width: 75px; }
.feature-list2.premium .f3 .thumb { background-position: 0 -145px; height: 74px; width: 74px; }

#exitpopup_bg { width: 100%; height: 100%; position: absolute; left: 0; background: #fff; z-index: 999998; opacity: 0.7; filter: alpha(opacity=0.7) !important; }

#exitpopup { width: 570px; height: 455px; position: absolute; top: 80px; z-index: 999999; background: #fff; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 40px, #f3fdfe 0 0 45px 10px inset; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 40px, #f3fdfe 0 0 45px 10px inset; box-shadow: rgba(0, 0, 0, 0.5) 0 0 40px, #f3fdfe 0 0 45px 10px inset; border: 1px solid #dcdcdc; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; text-align: center; padding: 20px; line-height: 22px; }
#exitpopup .heading { font-size: 18px; font-weight: bold; color: #557474; }
#exitpopup .close-button { right: -15px; top: -15px; position: absolute; display: block; }
#exitpopup .button1 { margin: 20px auto 20px auto; }
