.icons-sprite { background: url('/media/css/css-img/icons-sc4b28c011a.png') no-repeat; }

.signup-sprite { background: url('/media/css/css-img/signup-s584843bc28.png') no-repeat; }

.loader { display: none; width: 100%; background: url("/media/images/crm/loaders/indicator-big.gif") no-repeat center center; }

.no-data { display: none; width: 100%; text-align: center; color: #AAA; }

/* For both graphs */
/*#latest_chart_header, */
#search_chart_header { height: 30px; border-bottom: 5px #555 solid; margin: 5px 0; }

/*#latest_chart_header h2, */
#search_chart_header h2 { font-size: 20px; color: #555; }

/* Latest Activity */
/*#latest_chart_container {
	position:relative;
	height:300px;
}

#latest_graph_no_data, #latest_graph_loader {
	height:260px;
}

#latest_graph_no_data {
	line-height:260px;
}

#day_interval_container {
	position:absolute;
	right:20px;
	top:239px;
}

#day_intervals {
	float:right;
	border:1px solid #CCC;
	height:34px;
	border-radius:5px;
}

#day_intervals a, #day_intervals span {
	dispaly:block;
	float:left;
	padding:0 10px;
	height:34px;
	line-height:34px;
}

#day_intervals a {
	border-left:1px solid #CCC;
	color:#555;
}

#day_intervals a.first {
	border-left:0;
}

#day_intervals a:hover, #day_intervals a.active {
	background-color:#F1F1F1;
	color:#00A8A8;
}*/
/* Search Activity */
#search_chart_container { height: 270px; }

#search_chart_container { position: relative; margin-top: 15px; }

#search_graph_no_data, #search_graph_loader { height: 210px; }

#search_graph_no_data { line-height: 210px; }

#day_interval_container { position: absolute; top: -16px; right: 0; }

#day_intervals, #day_intervals a, #day_intervals span { height: 26px; }

#day_intervals { float: right; border: 1px solid #CCC; border-radius: 5px; }

#day_intervals a, #day_intervals span { display: block; float: left; padding: 0 7px; line-height: 26px; }

#day_intervals a { border-left: 1px solid #CCC; color: #555; }

#day_intervals a.first { border-left: 0; }

#day_intervals a:hover, #day_intervals a.active { background-color: #F1F1F1; color: #00A8A8; }

#search_graph_list { float: left; width: 255px; }

#search_graph_list ul { margin-left: 5px; }

#search2 .reports li { margin: 10px 0; }

#search_graph_container { width: 300px; margin-top: 3px; }
