@import url(//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);
.icon-sprite, .c-ccvc__img, .c-cc-card__list .is-visa, .c-cc-card__list .is-mastercard, .c-cc-card__list .is-ameri, .c-cc-card__list .is-discovery, .c-cc-norton, .c-cc-truste { background: url('/media/css/css-img/new/icon-s6bee8e85c7.png') no-repeat; }

.dashboard_icons-sprite, .c-dashboard-nav__icon.c-dashboard-nav__icon--resolutions, .c-dashboard-nav__icon.c-dashboard-nav__icon--submitted, .c-dashboard-nav__icon.c-dashboard-nav__icon--commented, .c-dashboard-nav__icon.c-dashboard-nav__icon--messages, .c-d-complaint__cl-btn-icon, .c-d-complaint__cl-icon.is-complete, .m-share-mini__email, .m-share-mini__fb, .m-share-mini__twit, .c-d-complaint__status-icon.is-review, .c-d-complaint__status-icon.is-hold, .c-d-complaint__status-icon.is-in-dispute, .c-d-complaint__status-icon.is-pending, .c-d-complaint__status-icon.is-active, .c-d-complaint__status-icon.is-resolved, .m-live-chat__icon, .m-d-in-ad__content { background: url('/media/css/css-img/new/dashboard/dashboard_icons-sc7a1fdcd88.png') no-repeat; }

body { background: transparent; }

html { background: url(/media/css/css-img/new/dashboard/bg_f9f9f9.gif) repeat-y center; }
@media only screen and (max-width: 1000px) { html { background-size: 100%; } }
@media only screen and (max-width: 634px) { html { background: none; } }

.radio-list .row { margin: 0 0 30px 0; color: #d80670; }

.m-section-heading { margin: 40px 0; }

.m-section-heading__text { font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 18px; }

.c-dashboard-nav { list-style: none; text-align: center; padding: 0; }
@media only screen and (max-width: 634px) { .c-dashboard-nav li { display: inline-block; margin: 0 20px 20px 0; } }

.c-dashboard-nav { margin: 30px 0 0 0; }

.c-dashboard-nav__item { margin: 0 0 30px 0; }

.c-dashboard-nav__link { color: #979696; font-weight: bold; display: block; text-transform: uppercase; }
.c-dashboard-nav__link:hover { color: #979696; }

.c-dashboard-nav__badge { position: absolute; background: #aaa; color: #fff; -webkit-border-radius: 14px; -moz-border-radius: 14px; -ms-border-radius: 14px; -o-border-radius: 14px; border-radius: 14px; padding: 3px 8px 5px 8px; height: 28px; top: -20px; right: -2.5em; border: 3px solid #fff; }
.c-dashboard-nav__badge.is-active { background: red; }

.c-dashboard-nav__icon { margin: 0 auto 10px auto; display: block; position: relative; }
.c-dashboard-nav__icon.c-dashboard-nav__icon--resolutions { background-position: -68px -34px; height: 40px; width: 34px; display: block; }
.c-dashboard-nav__icon.c-dashboard-nav__icon--submitted { background-position: -34px -34px; height: 34px; width: 34px; display: block; }
.c-dashboard-nav__icon.c-dashboard-nav__icon--commented { background-position: 0 -34px; height: 34px; width: 34px; display: block; }
.c-dashboard-nav__icon.c-dashboard-nav__icon--messages { background-position: -192px 0; height: 34px; width: 34px; display: block; }

.c-activity { margin: 20px 0; }

.c-activity__date { color: #aaa; font-size: 10px; margin: 0 0 10px 0; }

.c-balance { text-align: center; }

.c-balance__heading { font-family: 'Open Sans', sans-serif; font-weight: 600; }

.c-balance__heading, .c-balance__amount, .c-balance__string { margin: 0 0 20px 0; }

.c-balance__amount { font-size: 36px; }

.m-section-banner { display: block; margin: auto; }

.c-d-complaint__cl-btn { display: inline-block; padding: 10px 0; }

.c-d-complaint__cl-btn-icon { background-position: -216px -74px; height: 16px; width: 16px; display: block; display: block; float: right; margin: -3px 0 0 5px; }

.c-d-complaint__cl { margin: 5px 0 0; }

.c-d-complaint__cl-note { background: #fff9d3; padding: 10px; color: #666; border: 1px solid #ffeb6d; font-size: 10px; margin: 0 0 10px 0; }
.c-d-complaint__cl-note.is-completed { background: #d1ffb2; border-color: #76ff19; }

.c-d-complaint__cl-item { border-bottom: 1px solid #eee; padding: 10px 0; text-align: right; }
.c-d-complaint__cl-item:last-child { border: none; }

.c-d-complaint__cl-icon { display: inline-block; margin: 0 8px 0 12px; width: 12px; height: 12px; float: right; }
.c-d-complaint__cl-icon.is-complete { background-position: -102px -34px; height: 12px; width: 12px; display: block; }

.m-share-mini__item { list-style: none; float: right; margin: 0 0 0 10px; }

.m-share-mini__email { background-position: -175px -34px; height: 24px; width: 24px; display: block; }

.m-share-mini__fb { background-position: -199px -34px; height: 24px; width: 24px; display: block; }

.m-share-mini__twit { background-position: -151px -34px; height: 24px; width: 24px; display: block; }

.c-d-complaint__status-icon.is-review { background-position: 0 0; height: 32px; width: 32px; display: block; }
.c-d-complaint__status-icon.is-hold { background-position: -160px 0; height: 32px; width: 32px; display: block; }
.c-d-complaint__status-icon.is-in-dispute { background-position: -96px 0; height: 32px; width: 32px; display: block; }
.c-d-complaint__status-icon.is-pending { background-position: -128px 0; height: 32px; width: 32px; display: block; }
.c-d-complaint__status-icon.is-active { background-position: -64px 0; height: 32px; width: 32px; display: block; }
.c-d-complaint__status-icon.is-resolved { background-position: -32px 0; height: 32px; width: 32px; display: block; }

.c-d-progress__item { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; background: #ddd; display: inline-block; float: left; height: 30px; min-width: 60px; width: 13.7%; padding: 5px; margin: 0 1px 2px; font-size: 9px; line-height: 9px; text-align: center; }
.c-d-progress__item.is-green { -webkit-box-shadow: inset 0px 2px 0px 0px #8af6c7; -moz-box-shadow: inset 0px 2px 0px 0px #8af6c7; box-shadow: inset 0px 2px 0px 0px #8af6c7; }
.c-d-progress__item.is-green2 { -webkit-box-shadow: inset 0px 2px 0px 0px #85cf71; -moz-box-shadow: inset 0px 2px 0px 0px #85cf71; box-shadow: inset 0px 2px 0px 0px #85cf71; }
.c-d-progress__item.is-red { -webkit-box-shadow: inset 0px 2px 0px 0px #fd8383; -moz-box-shadow: inset 0px 2px 0px 0px #fd8383; box-shadow: inset 0px 2px 0px 0px #fd8383; }
.c-d-progress__item.is-blue { -webkit-box-shadow: inset 0px 2px 0px 0px #b1d9f6; -moz-box-shadow: inset 0px 2px 0px 0px #b1d9f6; box-shadow: inset 0px 2px 0px 0px #b1d9f6; }
.c-d-progress__item.is-blue2 { -webkit-box-shadow: inset 0px 2px 0px 0px #93c9f0; -moz-box-shadow: inset 0px 2px 0px 0px #93c9f0; box-shadow: inset 0px 2px 0px 0px #93c9f0; }
.c-d-progress__item.is-yellow { -webkit-box-shadow: inset 0px 2px 0px 0px #ffec70; -moz-box-shadow: inset 0px 2px 0px 0px #ffec70; box-shadow: inset 0px 2px 0px 0px #ffec70; }
.c-d-progress__item.is-orange { -webkit-box-shadow: inset 0px 2px 0px 0px #feba88; -moz-box-shadow: inset 0px 2px 0px 0px #feba88; box-shadow: inset 0px 2px 0px 0px #feba88; }
.c-d-progress__item.is-grey { -webkit-box-shadow: inset 0px 2px 0px 0px #8d8d8d; -moz-box-shadow: inset 0px 2px 0px 0px #8d8d8d; box-shadow: inset 0px 2px 0px 0px #8d8d8d; }
.c-d-progress__item.is-pink { -webkit-box-shadow: inset 0px 2px 0px 0px #ffb2d9; -moz-box-shadow: inset 0px 2px 0px 0px #ffb2d9; box-shadow: inset 0px 2px 0px 0px #ffb2d9; }
.c-d-progress__item.is-purple { -webkit-box-shadow: inset 0px 2px 0px 0px #cb98dc; -moz-box-shadow: inset 0px 2px 0px 0px #cb98dc; box-shadow: inset 0px 2px 0px 0px #cb98dc; }
.c-d-progress__item.is-purple2 { -webkit-box-shadow: inset 0px 2px 0px 0px #d034c3; -moz-box-shadow: inset 0px 2px 0px 0px #d034c3; box-shadow: inset 0px 2px 0px 0px #d034c3; }
.c-d-progress__item.is-blank { background: none !important; border: 1px dashed #d6d6d6; }

.c-activity-counter__graph { background: #eee; width: 93.5%; height: 25px; margin: 0 0 5px 12px; }

.c-activity-counter__bar { height: 25px; background: #9ed68a; }
.c-activity-counter__bar.is-25 { width: 25%; }
.c-activity-counter__bar.is-50 { width: 50%; }
.c-activity-counter__bar.is-75 { width: 75%; }
.c-activity-counter__bar.is-100 { width: 100%; }

.c-activity-counter__count { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; border: 3px solid #e578b2; width: 25px; height: 25px; background: #D80670; text-align: center; padding: 3px 0px 0px; position: relative; z-index: 2; float: left; color: #fff; }

.c-call__player { display: block; width: 100%; height: 25px; margin: 5px 0px; }

.c-sent-notices__table { width: 100%; border: none; }

#npsModal { padding: 0px; }

.npsModal__headerbg { height: 65px; display: block; position: relative; z-index: -1; background-color: #2f2f2f; margin: 0px 0px -56px; }

.npsModal__header { background: none repeat scroll 0 0 #2f2f2f; color: #D80670; display: block; font-size: 30px; margin: 0 0 24px; padding: 0 25px 10px; }
.npsModal__header .nps__white { color: #fff; }

.npsModal__boxes { margin: 0px 16px 10px !important; }

.nps__content__text { line-height: 18px; }

.nps__content__heading { font-size: 14px !important; margin-bottom: 0px; }

.c-no-access { text-align: center; }
.c-no-access.is-progress { background: url(/media/css/css-img/new/dashboard/archive_npshead.png) no-repeat; background-size: 100%; }
.c-no-access.is-progress .c-no-access__content { padding: 70px 0 0 0; }
.c-no-access.is-archive { height: 400px; background: url(/media/css/css-img/new/dashboard/archive_nps.png) no-repeat; background-size: 100%; }
.c-no-access.is-archive .c-no-access__content { padding: 180px 0 0 0; }
.c-no-access.is-archive h5 { color: #D80670; letter-spacing: 1px; text-transform: uppercase; }

#LiveChat_1373652529 a, #LiveChat_1373652357 a { position: absolute; width: 125px; height: 37px; }

.m-live-chat, .m-live-chat--fake { width: 358px; position: fixed; right: 60px; bottom: 0; }

.m-live-chat--fake { bottom: -207px; }

.m-live-chat__tab { float: right; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px; box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px; }

.m-live-chat__title { color: #D80670; font-weight: bold; padding: 10px 20px; display: inline-block; -webkit-border-radius: 6px 6px 0 0; -moz-border-radius: 6px 6px 0 0; -ms-border-radius: 6px 6px 0 0; -o-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; border: 1px solid #dcdcdc; border-bottom: 0; background-color: #eeeeee; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF'); background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(66%, #ffffff)); background-image: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 66%); background-image: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 66%); background-image: -o-linear-gradient(top, #eeeeee 0%, #ffffff 66%); background-image: linear-gradient(top, #eeeeee 0%, #ffffff 66%); }

.m-live-chat__icon { background-position: -130px -34px; height: 19px; width: 21px; display: block; margin: -3px 8px 0 0; float: left; }

.m-live-chat__content-box { width: 358px; height: 200px; background: #fff; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px, #eeeeee 0 0 45px 10px inset; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px, #eeeeee 0 0 45px 10px inset; box-shadow: rgba(0, 0, 0, 0.1) 0 0 40px, #eeeeee 0 0 45px 10px inset; border: 1px solid #dcdcdc; float: left; -webkit-border-radius: 6px 0 0 0; -moz-border-radius: 6px 0 0 0; -ms-border-radius: 6px 0 0 0; -o-border-radius: 6px 0 0 0; border-radius: 6px 0 0 0; text-align: center; padding: 0px; line-height: 22px; }

.m-live-chat__content { display: inline-block; }

.m-live-chat__content--topbox { font-size: 16px; font-weight: bold; margin: 40px 0 0px; }

.m-d-in-ad { background-color: #fff; border: 1px solid #eee; box-shadow: 0 0 45px 10px #e4e4e4 inset; margin: 0 0 20px; overflow: hidden; max-width: 250px; }

.m-d-in-ad__content { padding: 10px; text-align: center; background-position: 0 -263px; background-repeat: none; }

.m-d-in-ad__h3 { font-size: 16px; }

.m-d-in-ad__p { font-size: 11px; line-height: 14px; color: #555555; }

.m-d-in-ad__highlight { font-size: 14px; }

.fullwidth-bg { background: #f9f9f9; }

.savebtn i { display: none; }

.savebtn i.active { background: url(/media/css/css-img/new/dashboard/dashboard_icons/loadspin.gif); display: inline-block; height: 16px; margin: -4px 8px 0 0; width: 15px; float: left; }

.c-d-upload__textinfo { color: #666666; display: inline-block; font-size: 12px; font-style: italic; line-height: 14px; margin: 2px 0 18px; }

.c-activity__desc--na { color: #555; font-style: italic; }

/* CVC Image*/
.c-cc-card__items { display: inline-block; float: left; height: 35px; margin: 0 5px 10px; width: 60px; }

.c-ccvc__icon { display: inline-block; margin: -10px 0 0; }

.c-ccvc__icon img { vertical-align: bottom; }

.c-ccvc__img { background-position: 0 -402px; height: 100px; width: 120px; display: block; }

.c-ccagree__link { text-decoration: underline; }
.c-ccagree__link:hover { color: #6b0639; }

.c-footnote { line-height: 18px; text-align: center; font-size: 11px; color: #828282; }

.c-cc-card__list { margin: 15px 0; }
.c-cc-card__list .is-visa { background-position: -48px -120px; height: 29px; width: 48px; display: block; }
.c-cc-card__list .is-mastercard { background-position: 0 -120px; height: 29px; width: 48px; display: block; }
.c-cc-card__list .is-ameri { background-position: -28px -149px; height: 29px; width: 48px; display: block; }
.c-cc-card__list .is-discovery { background-position: -76px -149px; height: 29px; width: 48px; display: block; }

.c-ccagree { font-size: 12px; font-weight: normal; line-height: 18px; }
.c-ccagree .c-ccagree__check { float: left; margin: 0 10px 25px 0; }

.c-cc-security__logos { width: 250px !important; }

.c-cc-norton, .c-cc-truste { display: inline-block; float: left; height: 60px; width: 100px; margin-top: 12px; }

.c-cc-norton { background-position: 0 -342px; height: 60px; width: 120px; display: block; }

.c-cc-truste { background-position: 0 -256px; height: 40px; width: 120px; display: block; }

.m-dropdown-language { width: 75px; }

#country-select form { display: none; width: auto; }
